################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/src/Codx.Auth/bin
/src/Codx.Auth/bin/Debug/netcoreapp3.1
/src/Codx.Auth/bin/Release/netcoreapp3.1
/src/Codx.Auth/obj
/src/Codx.Auth/appsettings.Development.json
/src/Codx.Auth/wwwroot/lib/bootstrap/node_modules/hugo-bin
/src/Codx.Auth/node_modules
/test/Codx.Auth.Manual.Test/obj
/test/Codx.Auth.Manual.Test/bin
